__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
*.egg-info/
.eggs/
*.egg
dist/
migrations/
instance/
.webassets-cache
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/
.idea/
*.sqlite
*.db
.coverage
htmlcov/
.pytest_cache/
node_modules/
